body {
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(214,156,248,1));
  color: rgb(103, 1, 143);
  font-family: 'Noto Sans SC', sans-serif;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 30%;
}

.roundedImg {
  border-radius: 30px;
  box-shadow: 10px 10px 5px grey;
}



