body {
  font-weight: bold;
  text-align: center;
  background-color: #e0b2ea;
  color: white;
  font-family: 'Noto Sans SC', sans-serif;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 30%;
}